@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css)

body, button, input
  font-family 'Fira Code', Helvetica, Arial, sans-serif
  font-weight 200
  color #4b545b
  outline 0
